@font-face {
	font-family: ArcadeClassic;
	src: url("ARCADECLASSIC.TTF");
}

.App {
	display: flex;
	width: 100%;
	min-height: 100%;
	/* overflow-x: hidden; */
	flex-direction: column;
	align-items: center;
}

.logo {
	color: white;
	font-size: 1.75em;
	font-family: "ArcadeClassic";
}

.content {
	margin-top: 80px;
	width: 100%;
}
